@using Entt.Ers.Models
@model HomeIndexViewModel

@{
    ViewBag.Title = "Dashboard";
}

@section PageHeader {
    <ul class="breadcrumb breadcrumb-caret position-left">
        <li><a href="/">Home</a></li>
        <li class="active">Dashboard</li>
    </ul>
}
@section header {
    <style>
        .container-fluid { padding-bottom: 5px; } 
        #statistics a {
            color: white;
            border-bottom: 1px dashed white;
        }
    </style>
}


<div class="row">
    <div class="col-lg-8">        
        <div class="row">
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <h6 class="panel-title text-semibold">Welcome to EnTT Reporting System</h6>
                    <small class="display-block">Enterprise Track and Trace</small>
                </div>
            </div>
            @if (Model.ShowBranchInfo)
            {
            <div id="statistics" class="panel panel-flat">
                <div class="panel-heading">
                    <h6 class="panel-title text-semibold">@Model.BranchStatistic.BranchName</h6>
                    <div class="heading-elements">
                        <span class="heading-text">@Model.Date.ToString("dd MMM yyyy")</span>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="panel bg-teal-400">
                                <div class="panel-body">
                                    <h3 class="no-margin"><i class="icon-box-add position-left"></i> @string.Format("{0:#,##0}", Model.BranchStatistic.Acceptances)</h3>
                                    <a href="/Report/Acceptance">Item received</a>
                                </div>
                                <div class="container-fluid">
                                    <div id="acceptance-realtime"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="panel bg-primary-400">
                                <div class="panel-body">
                                    <h3 class="no-margin"><i class="icon-truck position-left"></i> @string.Format("{0:#,##0}", Model.BranchStatistic.Deliveries)</h3>
                                    Item delivered
                                </div>
                                <div class="container-fluid">
                                    <div id="delivery-realtime"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="panel bg-danger-600">
                                <div class="panel-body">
                                    <h3 class="no-margin" style="color: white"><i class="icon-folder-remove position-left"></i> @string.Format("{0:#,##0}", Model.BranchStatistic.Unknowns)</h3>
                                    <a href="/Versus/NoAcceptanceReport">No Acceptance</a>
                                </div>
                                <div class="container-fluid">
                                    <div id="no-acceptance-realtime"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h6>Acceptance Statistics</h6>
                    <div class="container-fluid">
                        <div class="row text-center">
                            <div class="col-md-2">
                                <div class="content-group">
                                    <ul class="list-inline text-center">
                                        <li>
                                            <div id="acceptance-donut-system"></div>
                                        </li>
                                    </ul>
                                    <span class="text-size-mini">By System</span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="content-group">
                                    <ul class="list-inline text-center">
                                        <li>
                                            <div id="acceptance-donut-category"></div>
                                        </li>
                                    </ul>
                                    <span class="text-size-mini">By Category</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
        
    </div>
    <div class="col-lg-4">        
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h6 class="panel-title">Search Acceptance<a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("Search", "Home", FormMethod.Post, new { @class = "form-horizontal form-validate", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="input-group content-group">
                        @Html.TextBoxFor(m => m.SearchKey, new { @class = "form-control input-md", @placeholder = "Enter Consignment No." })
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-primary btn-lg btn-icon legitRipple"><i class="icon-search4"></i></button>
                        </div>
                    </div>
                }
            </div>
        </div>

        @if (!Model.ShowBranchInfo)
        {
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <h6 class="panel-title text-semibold">EnTT Daily Statistics</h6>
                    <div class="heading-elements">
                        <span class="heading-text">@Model.Date.ToString("dd MMM yyyy")</span>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row text-center">
                        <div class="col-md-4">
                            <div class="content-group">
                                <h6 class="text-semibold no-margin"><i class="icon-box-add position-left text-slate"></i> @string.Format("{0:#,##0}", Model.Statistic.Acceptances)</h6>
                                <span class="text-muted text-size-small">Acceptance</span>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="content-group">
                                <h6 class="text-semibold no-margin"><i class="icon-truck position-left text-slate"></i> @string.Format("{0:#,##0}", Model.Statistic.Deliveries)</h6>
                                <span class="text-muted text-size-small">Delivery</span>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="content-group">
                                <h6 class="text-semibold no-margin"><i class="icon-folder-remove position-left text-slate"></i> @string.Format("{0:#,##0}", Model.Statistic.Unknowns)</h6>
                                <span class="text-muted text-size-small">No Acceptance</span>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        }
        
    </div>
</div>

@section scripts {
    <script type="text/javascript" src="~/Scripts/d3.min.js"></script>
    <script type="text/javascript" src="~/Scripts/d3_tooltip.js"></script>
    <script type="text/javascript" src="~/Scripts/_home_index.js"></script>

    <script>
        $(function () {
            var colors = ['#66BB6A', '#9575CD', '#FF7043', '#29B6F6', '#EF5350', '#81C784', '#999', '#DCEDC8', '#C5E1A5', '#9CCC65', '#7CB342', '#558B2F'];

            //acceptance category donut
            var acceptanceCat = [];
            var acceptanceCategories = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.AcceptanceByCategories));
            $.each(acceptanceCategories, function (i, a) {
                var ac = a;
                ac.color = colors[i];
                ac.icon = "<i class='icon-price-tag3 position-left'></i>";
                acceptanceCat.push(ac);
            });
            if (null != acceptanceCategories) {
                acceptanceDonut("#acceptance-donut-category", 62, acceptanceCat);
            }

            //acceptance system donut
            var acceptanceSys = [];
            var acceptanceSources = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.AcceptanceBySources));
            $.each(acceptanceSources, function (i, a) {
                var sys = a;
                sys.color = colors[i];
                sys.icon = "<i class='icon-barcode2 position-left'></i>";
                acceptanceSys.push(sys);
            });
            //acceptance donuts
            if (null != acceptanceSources) {
                acceptanceDonut("#acceptance-donut-system", 62, acceptanceSources);
            }

            //
            //var acceptanceData = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
            //var deliveryData = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
            var noAcceptanceData = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];

            var acceptanceData = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.AcceptanceDataHourly));
            var deliveryData = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.DeliveriesDataHourly));

            generateBarChart("#acceptance-realtime", acceptanceData, 40, true, "elastic", 1200, 50, "rgba(255,255,255,0.5)", "items");
            generateBarChart("#delivery-realtime", deliveryData, 40, true, "elastic", 1200, 50, "rgba(255,255,255,0.5)", "items");
            generateBarChart("#no-acceptance-realtime", noAcceptanceData, 40, true, "elastic", 1200, 50, "rgba(255,255,255,0.5)", "items");
        });

    </script>
}