<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ERS</title>
    @*@Styles.Render("~/Content/css")*@
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="/Content/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="/Content/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/Content/core.css" rel="stylesheet" type="text/css">
    <link href="/Content/components.css" rel="stylesheet" type="text/css">
    <link href="/Content/colors.css" rel="stylesheet" type="text/css">
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("header", required: false)
</head>
<body>
    <div class="navbar navbar-inverse bg-danger-700">
        <div class="navbar-header">
            <a class="navbar-brand" href="/"><span style="font-size:18px">EnTT Reporting System (ERS)</span>@*<img src="~/Content/images/ers.png" alt="EnTT Reporting System">*@</a>
            <ul class="nav navbar-nav pull-right visible-xs-block">
                <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
            </ul>
        </div>
        <div class="navbar-collapse collapse" id="navbar-mobile">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown dropdown-user">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        @*<img src="assets/images/placeholder.jpg" alt="">*@
                        <span>@ViewData["FullName"]</span>
                        <i class="caret"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        @*<li><a href="#"><i class="icon-user-plus"></i> My profile</a></li>*@
                        <li><a href="/Account/LogOut"><i class="icon-switch2"></i> Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="navbar navbar-default" id="navbar-second">
        <ul class="nav navbar-nav no-border visible-xs-block">
            <li><a class="text-center collapsed" data-toggle="collapse" data-target="#navbar-second-toggle"><i class="icon-menu7"></i></a></li>
        </ul>
        <div class="navbar-collapse collapse" id="navbar-second-toggle">
            <ul class="nav navbar-nav navbar-nav-material">
                <li class="active"><a href="/"><i class="icon-display4 position-left"></i> Dashboard</a></li>
                @if (User.IsInRole(Constansts.Roles.Aims))
                {
                <li class="dropdown mega-menu mega-menu-wide">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-file-spreadsheet position-left"></i> AIMS <span class="caret"></span></a>
                    <div class="dropdown-menu dropdown-content">
                        <div class="dropdown-content-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <ul class="menu-list">
                                        <li class="dropdown-header">Reports</li>
                                        <li><a href="/Aims/DeviceAtBranchSummary"><i class="icon-list3"></i> Device at Branch Summary</a></li>
                                        <li><a href="/Aims/DeviceAtBranchDetails"><i class="icon-list3"></i> Device at Branch Detail</a></li>
                                        <li><a href="#"><i class="icon-list3"></i> Request Asset By Branch Detail</a></li>
                                        <li><a href="#"><i class="icon-list3"></i> Asset Assignment by Branch Detail</a></li>
                                        <li><a href="#"><i class="icon-list3"></i> Asset SLA by Item</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-6">                                    
                                    <ul class="menu-list">
                                        <li class="dropdown-header">&nbsp;</li>
                                        
                                        <li><a href="#"><i class="icon-list3"></i> Repair and Maintenance by Branch</a></li>
                                        <li><a href="#"><i class="icon-list3"></i> Return Asset Replacement by Branch</a></li>
                                        <li><a href="#"><i class="icon-list3"></i> Asset for Disposal by Branch</a></li>
                                        <li><a href="/Aims/StockStatus"><i class="icon-list3"></i> Stock Status by Item</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                }

                @if (User.IsInRole(Constansts.Roles.SNB))
                {
                <li class="dropdown mega-menu mega-menu-wide">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-file-spreadsheet position-left"></i> Sales &amp; Billing <span class="caret"></span>
                    </a>
                    <div class="dropdown-menu dropdown-content">
                        <div class="dropdown-content-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <ul class="menu-list">
                                        <li class="dropdown-header">Financial Reports</li>
                                        <li><a href="#"><i class="icon-list3"></i> Summary Billing Transaction</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul class="menu-list">
                                        <li class="dropdown-header">Management Reports</li>
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                }

                @if (User.IsInRole(Constansts.Roles.Versus) || User.IsInRole(Constansts.Roles.VersusHQ))
                {
                <li class="dropdown mega-menu mega-menu-wide">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-file-spreadsheet position-left"></i> VERSUS <span class="caret"></span>
                    </a>
                    <div class="dropdown-menu dropdown-content">
                        <div class="dropdown-content-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <ul class="menu-list">
                                        <li class="dropdown-header">Reports</li>
                                        <li><a href="/Versus/DeliveryExceptionReport"><i class="icon-list3"></i> Delivery Exception vs POD</a></li>
                                        <li><a href="#"><i class="icon-list3"></i> Acceptance At PO vs RESO</a></li>
                                        <li><a href="/Versus/HandoverPodReport"><i class="icon-list3"></i> Third Party Handover vs POD</a></li>
                                        <li><a href="#"><i class="icon-list3"></i> Inbound/Outbound Exception vs Package Station</a></li>
                                        @*<li><a href="#"><i class="icon-list3"></i> IPS vs SIP</a></li>*@
                                        <li><a href="/Versus/HipVsHop"><i class="icon-list3"></i> HIP vs HOP</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <ul class="menu-list">
                                        <li class="dropdown-header">&nbsp;</li>
                                        <li><a href="/Versus/PupVsPod"><i class="icon-list3"></i> PUP vs POD</a></li>
                                        <li><a href="/Versus/PodVsPup"><i class="icon-list3"></i> POD vs PUP</a></li>
                                        <li><a href="#"><i class="icon-list3"></i> SIP vs VASN vs POD</a></li>
                                        <li><a href="/Versus/VasnVsPod"><i class="icon-list3"></i> VASN vs POD</a></li>
                                        <li><a href="/Versus/SipVsVasn"><i class="icon-list3"></i> SIP vs VASN</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <ul class="menu-list">
                                        <li class="dropdown-header">&nbsp;</li>
                                        <li><a href="/Versus/SopVsHip"><i class="icon-list3"></i> SOP vs HIP</a></li>
                                        <li><a href="/Versus/PupVsSop"><i class="icon-list3"></i> PUP vs SOP</a></li>
                                        <li><a href="/Versus/SopVsSip"><i class="icon-list3"></i> SOP vs SIP</a></li>
                                        <li><a href="/Versus/ExpectedArrivalReport"><i class="icon-list3"></i> Expected Arrival at Destination Office</a></li>
                                        <li><a href="/Versus/NoAcceptanceReport"><i class="icon-list3"></i> No Acceptance</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                }

                @if (User.IsInRole(Constansts.Roles.Administrator))
                {
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-make-group position-left"></i> ADMINISTRATOR <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu width-250">
                        <li class="dropdown-header">Maintenance</li>
                        <li class="dropdown">
                            <a href="/Manage/Users"><i class="icon-users4"></i> User Listing</a>
                        </li>
                    </ul>
                </li>
                }
            </ul>
        </div>
    </div>
    <div class="page-header">
        <div class="page-header-content">
            <div class="page-title">
                <h4>
                    @*<i class="icon-home position-left"></i>*@
                    <img src="~/Content/images/pos.png" width="50" alt="Pos Malaysia" />
                    <span class="text-semibold"> Dashboard</span>
                </h4>
                @RenderSection("PageHeader", required: false)
            </div>
        </div>
    </div>
    
    <div class="page-container">
        <!-- Page content -->
        <div class="page-content">
            <!-- Main content -->
            <div class="content-wrapper">
                @RenderBody()
            </div>
        </div>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @*<script type="text/javascript" src="/Scripts/pace.min.js"></script>*@
    <script type="text/javascript" src="/Scripts/blockui.min.js"></script>
    <script type="text/javascript" src="/Scripts/nicescroll.min.js"></script>
    <script type="text/javascript" src="/Scripts/drilldown.js"></script>
    <script type="text/javascript" src="/Scripts/app.js"></script>
    <script type="text/javascript" src="/Scripts/moment.min.js"></script>
    <script type="text/javascript" src="/Scripts/dashboard.js"></script>
    @RenderSection("scripts", required: false)

    <div class="footer text-muted">
        &copy; 2017 <a href="/">EnTT Platform</a> by <a href="http://www.azrolmn.tech/" target="_blank">Bespoke Technology Sdn. Bhd.</a>
    </div>
</body>
</html>
